@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tarjetas</h2>

<label>@ViewBag.Message</label>

<input type="text" id="search" />
<button onclick="search()">Search</button>

<ul id="ListadoTarjetas"></ul>

<script src="~/Scripts/app/Kanjis.js?v=@DateTime.Now.Ticks.ToString()"></script>